<form action="/projects/create" method="post">
  <label>Title:</label>
  <input type="text" name="title"><br>
  <label>Description:</label>
  <textarea name="short_desc" cols="30" rows="10"></textarea><br>
  <label>Link:</label>
  <input type="text" name="link"><br>
  <label>Developer:</label>
  <input type="text" name="developer"><br>
  <label>Thumbnail:</label>
  <input type="file" name="thumbnail"><br>
  <label>Images:</label>
  <input type="file" name="images"><br>
  <input type="submit">
</form>